*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

#main-button{
    background-color: red;
    border: 0px;

}

#classic-button{
    background-color: brown;
    border: 0px;

}


.gap-1{
    gap: 3px;
    font-size: large;
}

#footer{
    background-color: #502314;
    padding: 10px;
}
#footer h4{
    font-size: 15px;
    color: white;
}
